<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>API Online</title>
        <link
            rel="shortcut icon"
            href="/public/icon-white.png"
            type="image/x-icon"
        />

        <link rel="stylesheet" href="index.min.css" />
        <link rel="stylesheet" href="tailwind-compile.css" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    </head>
    <body
        class="h-screen flex flex-col justify-center items-center"
        style="background-color: var(--background-color)"
    >
        <article>
            <header>
                <div>
                    <span>API</span>
                    <span class="ml-2 muted text-xs"
                        >This path is for API use.</span
                    >
                </div>
            </header>
            <div class="text-green-500">
                <span>API is online!</span>
            </div>
            <footer>
                <span class="muted text-xs"
                    >Created by Whitigol Web Design</span
                >
            </footer>
        </article>
    </body>
</html>
