<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SnailyCAD Remote Manager</title>
        <link rel="shortcut icon" href="icon.png" type="image/png" />
        <link rel="stylesheet" href="index.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
            rel="stylesheet"
        />
        <style>
            button {
                all: unset;
            }
        </style>
    </head>
    <body>
        <msg>
            <h2>Forbidden</h2>
            <span
                >This is an API Route. This can only be accessed by the
                app.</span
            >
        </msg>
    </body>
</html>
