$success: lime;
$warn: orange;
$error: rgb(255, 64, 64);
$blue: rgb(0, 123, 255);
$lnk: lightblue;

.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 10px;
    font-size: 17px;
    padding: 10px 20px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 5px 0.5em 0px rgba(0, 0, 0, 0.8);

    .material-icons-outlined {
        font-size: inherit !important;
    }

    > * {
        margin-right: 5px;
    }

    :last-child {
        margin-right: 0;
    }

    &.raise {
        transition: ease-in-out 200ms all;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0.5em 0.5em -0.4em white;
        }
    }

    &.success {
        border-color: $success;
    }

    &.warn {
        border-color: $warn;
    }

    &.error {
        border-color: $error;
    }

    &.blue {
        border-color: $blue;
    }
}

.md-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 10px;
    font-size: 15px;
    padding: 5px 10px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 5px 0.5em 0px rgba(0, 0, 0, 0.8);

    .material-icons-outlined {
        font-size: inherit !important;
    }

    > * {
        margin-right: 5px;
    }

    :last-child {
        margin-right: 0;
    }

    &.raise {
        transition: ease-in-out 200ms all;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0.5em 0.5em -0.4em white;
        }
    }

    &.success {
        border-color: $success;
    }

    &.warn {
        border-color: $warn;
    }

    &.error {
        border-color: $error;
    }

    &.blue {
        border-color: $blue;
    }

    &.lnk {
        border-color: $lnk;
    }
}

.sm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 10px;
    font-size: 12px;
    padding: 5px 10px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 5px 0.5em 0px rgba(0, 0, 0, 0.8);

    .material-icons-outlined {
        font-size: inherit !important;
    }

    > * {
        margin-right: 5px;
    }

    :last-child {
        margin-right: 0;
    }

    &.raise {
        transition: ease-in-out 200ms all;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0.5em 0.5em -0.4em white;
        }
    }

    &.success {
        border-color: $success;
    }

    &.warn {
        border-color: $warn;
    }

    &.error {
        border-color: $error;
    }

    &.blue {
        border-color: $blue;
    }

    &.lnk {
        border-color: $lnk;
    }
}

// By Default - Hide Update Button
#sc-update {
    display: none;
}

.reportProblem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000000;
    cursor: pointer;
    transition: color 100ms ease-in-out;

    > * {
        margin-right: 5px;
    }

    :last-child {
        margin-right: 0;
    }

    .material-icons-outlined {
        font-size: 12px !important;
    }

    &:hover {
        color: rgb(0, 123, 255);
    }
}

[aria-disabled='true'],
[disabled] {
    border-color: gray !important;
    opacity: 0.1 !important;
}
