.scm {
    width: 80vw;
}

.requirements {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.tools {
    width: 80vw;
}

.wizard_steps {
    > article {
        width: 90vw;
    }
}

#log_output {
    > article {
        width: 80vw;

        > .logs {
            user-select: text;
            position: relative;
            scroll-behavior: smooth;
            padding: 10px;
            border-radius: 5px;
            height: 50vh;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            background-color: hsla(0, 0, 0, 50%);
            font-size: 12px;
            font-family: 'CascadiaCode', ui-monospace, SFMono-Regular, Menlo,
                Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
            *:not(.bottom) {
                justify-content: flex-start;
                align-items: center;
            }

            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                &::before {
                    content: '';
                }
            }
        }
    }
}

#system_message {
    font-size: 12px;
    position: fixed;
    width: 80%;
    max-height: 40px;
    bottom: 5px;
    left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &::before {
        content: 'Latest Log>';
        margin-right: 5px;
    }
}

.logOpen {
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 999;
}
