.settingsBtn {
    position: absolute;
    top: 10px;
    right: 0;
}

.settings-container {
    display: flex;
    text-align: start;
    flex-direction: column;
    border-radius: 15px !important;
    padding-top: 15px;

    .header {
        line-height: 0;
        margin-bottom: 10vh;
    }

    #saveSettings {
        position: absolute;
        bottom: 30px;
    }

    .row {
        margin-top: 5vh;

        &:first-child {
            margin: 0;
        }
    }
}
