.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--card-sectionning-background-color);
    height: 30px;
    -webkit-app-region: drag;
    border-radius: 8px 8px 0 0;
    padding-left: 15px;
    user-select: none;

    * {
        -webkit-app-region: drag;
    }

    p {
        margin: 0;
        display: flex;
        align-items: center;

        img {
            height: 25px;
            margin: 5px;
        }

        .copyright {
            margin-left: 5px;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.2);
        }
    }

    .appButtons {
        display: flex;
        align-items: center;
        height: 100%;
        * {
            -webkit-app-region: no-drag;
            user-select: none;
        }
        i {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            width: 50px;
            height: 100%;
            transition: 200ms ease all;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        *:last-child {
            border-radius: 0 15px 0 0;
        }
    }
}
