.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.center-itms {
    align-items: center;
}

.center-justify {
    justify-content: center;
}

.space-even-justify {
    justify-content: space-evenly;
}

.fullscreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

article > footer {
    display: flex;
    flex-direction: row-reverse;
    > * {
        margin-right: 10px;
        &:first-child {
            margin-right: 0;
        }
    }
}

article {
    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.inner {
    overflow-y: auto;
    max-height: 45vh;
    background-color: var(--card-sectionning-background-color);
    border-radius: 5px;
}

.material-symbols-outlined {
    font-size: inherit !important;
}

[class~='muted'] {
    color: hsla(0, 0%, 100%, 0.2);
}

.sm {
    font-size: 12px;
}

dialog {
    article {
        max-height: 97vh;
        min-width: 85vw !important;

        footer {
            display: flex;
            align-items: center;
        }
    }
}

a {
    cursor: pointer !important;
}

.notyf__toast {
    border-radius: 5px !important;
}
.notyf__icon {
    display: flex;
}

.editor_container {
    position: relative;
    width: 100%;
    height: 100%;

    .editor {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

// WIP
@layer components {
    .badge {
        @apply text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold;

        &.badge-primary {
            @apply bg-blue-500 text-white;
        }
        &.badge-secondary {
            @apply bg-purple-500 text-white;
        }
        &.badge-success {
            @apply bg-green-500 text-white;
        }
        &.badge-danger {
            @apply bg-red-500 text-white;
        }
        &.badge-warning {
            @apply bg-yellow-500 text-white;
        }
        &.badge-info {
            @apply bg-blue-500 text-white;
        }
        &.badge-light {
            @apply bg-gray-500 text-white;
        }
        &.badge-dark {
            @apply bg-gray-800 text-white;
        }
    }
}
