.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.center-itms {
  align-items: center;
}

.center-justify {
  justify-content: center;
}

.space-even-justify {
  justify-content: space-evenly;
}

.fullscreen {
  border-radius: var(--fs-border);
  height: calc(100vh - 30px);
}

dialog {
  border-radius: 15px;
  padding-top: 30px;

  article > footer {
    display: flex;
    flex-direction: row-reverse;
    > * {
      margin-right: 10px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.material-symbols-outlined {
  font-size: inherit !important;
}
