.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.center-itms {
  align-items: center;
}

.center-justify {
  justify-content: center;
}

.space-even-justify {
  justify-content: space-evenly;
}

.fullscreen {
  position: absolute;
  border-radius: var(--fs-border);
  height: calc(100vh - 30px);
  width: 100vw;
  margin-top: 30px;
  background-color: var(--background-color);
}

article > footer {
  display: flex;
  flex-direction: row-reverse;
  > * {
    margin-right: 10px;
    &:first-child {
      margin-right: 0;
    }
  }
}

.material-symbols-outlined {
  font-size: inherit !important;
}

.text-muted {
  color: hsla(0, 0%, 100%, 0.215);
}
