.wizard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $mainBG;
    z-index: 4;
    border-radius: 0 0 15px 15px;

    .inner {
        margin: 0 50px;
    }

    .header {
        text-align: center;
        position: absolute;
        line-height: 0;
        align-self: center;
        top: 30px;
    }

    .buttons {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        bottom: 15px;

        .main-btn {
            width: 50%;
        }
    }
}

.requirements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $mainBG;
    z-index: 7;
    border-radius: 0 0 15px 15px;
    padding: 0 20px;

    p {
        font-weight: bold;

        span {
            font-weight: normal;
            text-transform: capitalize;

            &[data-status='false'] {
                color: red;

                &::after {
                    content: '(Not Installed)';
                    margin-left: 5px;
                }
            }
            &[data-status='true'] {
                color: lime;

                &::after {
                    content: '(Installed)';
                    margin-left: 5px;
                }
            }
        }
    }
}

label {
    span {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
    }
}
