.titlebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #23272a;
  height: 30px;
  width: 100vw;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.titlebar .title {
  position: absolute;
  font-weight: bold;
  left: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titlebar .buttons {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.titlebar .buttons .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 30px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 3px;
  -webkit-app-region: no-drag;
  -webkit-transition: ease-in-out 200ms background-color;
  transition: ease-in-out 200ms background-color;
}

.titlebar .buttons .btn:last-child {
  border-top-right-radius: 15px;
  margin: 0;
}

.titlebar .buttons .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 10px;
  padding: 10px 20px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 0.5em 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 0.5em 0px rgba(0, 0, 0, 0.8);
}

.main-btn.raise {
  -webkit-transition: ease-in-out 200ms all;
  transition: ease-in-out 200ms all;
}

.main-btn.raise:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em white;
          box-shadow: 0 0.5em 0.5em -0.4em white;
}

.main-btn.success {
  border-color: lime;
}

.main-btn.warn {
  border-color: orange;
}

.main-btn.error {
  border-color: #ff4040;
}

.main-btn.blue {
  border-color: #007bff;
}

@media (max-width: 450px) {
  .main-btn {
    font-size: 10px !important;
    padding: 5px 10px;
  }
}

#sc-update {
  display: none;
}

.cmd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 15px;
  height: 20vh;
  width: 45vw;
}

.cmd-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  inset: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cmd-container .header .title {
  color: rgba(255, 255, 255, 0.5);
}

.cmd-container .header .title::after {
  content: 'Command View:';
}

.cmd-container .header span {
  background-color: #0014ff;
  padding: 2px 8px;
  border-radius: 15px;
  cursor: pointer;
}

.cmd-container .header span:hover {
  background-color: rgba(0, 20, 255, 0.7);
}

.cmd-container .cmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow-y: auto;
  line-height: 1.2;
  overflow-wrap: normal;
  height: 20vh;
  width: 45vw;
  border-bottom-right-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

.cmd-container .cmd span {
  margin-bottom: 10px;
}

.cmd-container .cmd span:last-child {
  margin-bottom: 0;
}

html {
  background-color: transparent;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  border-radius: 15px;
}

app {
  position: absolute;
  inset: 0;
  top: 30px;
  height: calc(100vh - 30px);
  width: 100vw;
}

.bg {
  background-color: #2c2f33;
  border-radius: 15px;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -100;
}

.versions {
  position: absolute;
  width: 50vw;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
}

.versions span {
  display: inline-block;
  font-weight: normal;
}

.main {
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5vh;
}

.main .row:first-child {
  margin: 0;
}
/*# sourceMappingURL=index.css.map */