@import './vars';
@import './log';
@import './titlbar';
@import './buttons';
@import './cmd';
@import './wizard';
@import './settings';

@font-face {
    font-family: 'CascadiaCode';
    src: url('../../public/fonts/CascadiaCode.woff2') format('woff2'),
        url('../../public/fonts/CascadiaCode.ttf') format('truetype');
}

* {
    transition: font-size 200ms ease-in-out;
}

html {
    background-color: transparent;

    ::selection {
        background-color: rgba(135, 157, 255, 0.5);
    }
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    border-radius: 15px;
    color-scheme: dark;
    user-select: none;

    code {
        user-select: text;
    }
}

app {
    position: absolute;
    inset: 0;
    z-index: 1;
    top: 30px;
    height: calc(100vh - 30px);
    width: 100vw;
}

.bg {
    background-color: $mainBG;
    border-radius: 15px;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -100;
}

.versions {
    position: absolute;
    width: 50vw;
    bottom: 10px;
    left: 10px;
    font-size: 12px !important;
    font-weight: bold;

    span {
        display: inline-block;
        font-weight: normal;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5vh;

    &:first-child {
        margin: 0;
    }
}

.main {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .status {
        font-weight: bold;

        span {
            font-weight: normal;

            &[data-status='online'] {
                color: lime;
                &:after {
                    content: 'Online';
                }
            }

            &[data-status='offline'] {
                color: orange;
                &:after {
                    content: 'Offline';
                }
            }
        }
    }
}

load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $border;
    z-index: 10;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: $mainBG;

    h1 {
        margin: 0;
    }

    button {
        margin: 0;
        font-size: 50px !important;
    }
}

update {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $mainBG;
    z-index: 2;
    border-radius: 0 0 15px 15px;
    height: 100%;
    width: 100%;
}

hidden {
    inset: 0;
}

msg {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $mainBG;
    z-index: 5;
    border-radius: $border;

    label {
        font-size: 12px;
        margin: 0 2vw 0 0;

        &:last-child {
            margin: 0;
        }
    }

    input {
        height: 15px !important;
        font-size: 12px;
    }
}

env {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: $mainBG;
    z-index: 4;
    border-radius: $border;

    .row {
        margin-top: 3vh !important;
    }

    label {
        font-size: 12px;
        margin: 0 2vw 0 0;
        border: none !important;

        &:last-child {
            margin: 0;
        }
    }

    input {
        height: 15px !important;
        font-size: 12px;
    }
}
