<article>
    <header>
        <div>
            <i class="mio">info</i>
            <span>About & More</span>
        </div>
    </header>

    <div class="mb-3">
        <p class="muted">
            SnailyCAD is a free and open-source CAD/MDT system for FiveM
            servers.
        </p>
        <p class="muted">
            SnailyCAD Manager is a free and open-source desktop application for
            managing your SnailyCAD installation, created by Whitigol Web
            Design.
        </p>
    </div>

    <div class="row center-itms center-justify">
        <div
            class="btn md info"
            onclick="launchURL('https://snailycad.caspertheghost.me/');"
        >
            <i class="mio">web</i>
            <span>SnailyCAD Website</span>
        </div>

        <div
            class="btn md info"
            onclick="launchURL('https://manager.cossys.tk');"
        >
            <i class="mio">web</i>
            <span>SnailyCAD Manager Website</span>
        </div>
    </div>

    <div class="row center-itms center-justify">
        <div
            class="btn md info"
            onclick="launchURL('https://github.com/SnailyCAD/snaily-cadv4');"
        >
            <i class="bi bi-github"></i>
            <span>SnailyCAD GitHub</span>
        </div>

        <div
            class="btn md info"
            onclick="launchURL('https://discord.gg/xVM7AFSQ8M');"
        >
            <i class="bi bi-discord"></i>
            <span>SnailyCAD Community Discord</span>
        </div>
    </div>

    <div
        class="mt-3 p-3 backdrop-brightness-90 flex flex-col justify-center items-center rounded"
    >
        <p class="!mb-2">Experiencing Issues?</p>
        <div class="row center-itms center-justify">
            <div
                class="btn md info"
                onclick="launchURL('https://github.com/whitigolprod/snailycad-manager/issues/new/choose');"
            >
                <i class="bi bi-github"></i>
                <span>Report an Issue</span>
            </div>
        </div>
    </div>

    <div
        class="mt-3 p-3 backdrop-brightness-90 flex flex-col justify-center items-center rounded"
    >
        <p>Keyboard Shortcuts</p>
        <span class="muted text-xs !mb-2"
            >Keyboard Shortcuts provide an easy way to navigate and use the
            app.</span
        >
        <table class="table-auto">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>CTRL</code> + <code>R</code></td>
                    <td>Start SnailyCAD</td>
                </tr>
                <tr>
                    <td><code>CTRL</code> + <code>T</code></td>
                    <td>Stop SnailyCAD</td>
                </tr>
                <tr>
                    <td><code>CTRL</code> + <code>L</code></td>
                    <td>Open Log Output</td>
                </tr>
                <tr>
                    <td><code>CTRL</code> + <code>S</code></td>
                    <td>Open App Settings</td>
                </tr>
                <tr>
                    <td><code>Shift</code> + Click Start</td>
                    <td>Start SnailyCAD — Skipping Build</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <!-- Close Button -->
        <div class="btn md error" onclick="modal('#about').close();">
            <i class="mio">close</i>
            <span>Close</span>
        </div>
    </footer>
</article>
