<article>
    <header>
        <div>
            <i class="mio">info</i>
            <span>About & More</span>
        </div>
    </header>

    <div class="mb-2">
        <p class="muted">
            SnailyCAD is a free and open-source CAD/MDT system for FiveM
            servers.
        </p>
        <p class="muted">
            SnailyCAD Manager is a free and open-source desktop application for
            managing your SnailyCAD installation, created by Whitigol Web
            Design.
        </p>
    </div>

    <div class="row center-itms center-justify">
        <div
            class="btn md info"
            onclick="launchURL('https://snailycad.caspertheghost.me/');"
        >
            <i class="mio">web</i>
            <span>SnailyCAD Website</span>
        </div>

        <div
            class="btn md info"
            onclick="launchURL('https://manager.cossys.tk');"
        >
            <i class="mio">web</i>
            <span>SnailyCAD Manager Website</span>
        </div>
    </div>

    <div class="row center-itms center-justify">
        <div
            class="btn md info"
            onclick="launchURL('https://github.com/SnailyCAD/snaily-cadv4');"
        >
            <i class="bi bi-github"></i>
            <span>SnailyCAD GitHub</span>
        </div>

        <div
            class="btn md info"
            onclick="launchURL('https://discord.gg/xVM7AFSQ8M');"
        >
            <i class="bi bi-discord"></i>
            <span>SnailyCAD Community Discord</span>
        </div>
    </div>

    <footer>
        <!-- Close Button -->
        <div class="btn md error" onclick="modal('#about').close();">
            <i class="mio">close</i>
            <span>Close</span>
        </div>
    </footer>
</article>
