<dialog id="d-app-settings">
  <article>
    <header>
      App Settings
      <span class="muted sm">Modify app Settings</span>
      <a href="#" class="close"></a>
    </header>

    <div class="row">
      <div class="btn md success">
        <i class="mio">play_arrow</i>
        <span>Start Remote Server</span>
      </div>
      <div class="btn md info">
        <i class="mio">settings_remote</i>
        <span>Server Settings</span>
      </div>
    </div>

    <footer>
      <div class="btn md error">
        <i class="mio">close</i>
        <span>Close Settings</span>
      </div>
    </footer>
  </article>
</dialog>
