<dialog id="app_settings">
    <article>
        <header>
            <span class="flex flex-row items-center"
                >App Settings
                <span class="muted sm ml-2">Modify app Settings</span>
            </span>
            <a
                href="#"
                class="close"
                onclick="modal('#app_settings').close();"
            ></a>
        </header>

        <div class="row center-justify">
            <div class="btn md success">
                <i class="mio">play_arrow</i>
                <span>Start Remote Server</span>
            </div>
            <div
                class="btn md info"
                onclick="modal('#remote_server').open(); loadServerSettings();"
            >
                <i class="mio">settings_remote</i>
                <span>Server Settings</span>
            </div>
        </div>

        <footer>
            <div class="btn md error" onclick="modal('#app_settings').close();">
                <i class="mio">close</i>
                <span>Close Settings</span>
            </div>
        </footer>
    </article>
</dialog>
