<dialog id="d-app-version" open>
  <article>
    <header>SnailyCAD Manager &mdash; New Version</header>
    <p>There's a new update available for SnailyCAD Manager!</p>
    <hr />
    <p>Current Version: <code>Loading...</code></p>
    <p>Latest Version: <code>Loading...</code></p>
    <footer>
      <div class="btn md success">
        <i class="mio">download</i>
        <span>Update Now</span>
      </div>
      <div class="btn md warning">
        <i class="mio">pan_tool</i>
        <span>Dismiss</span>
      </div>
    </footer>
  </article>
</dialog>
