<article class="scm">
  <header>SnailyCAD Manager</header>
  <div class="row center-itms center-justify">
    <div id="snailyStatus">SnailyCAD Status: <code>LOADING</code></div>
  </div>

  <div class="row center-itms space-even-justify">
    <div class="btn success">
      <i class="mio">play_arrow</i>
      <span>Start SnailyCAD</span>
    </div>
  </div>
</article>

<article class="tools">
  <header>Additional Tools</header>
  <div class="row center-itms space-even-justify">
    <div class="btn md info">
      <i class="mio">settings</i>
      <span>App Settings</span>
    </div>
  <div class="row center-itms space-even-justify">
    <div class="btn md info">
      <i class="mio">construction</i>
      <span>Open Additional Tools</span>
    </div>
</article>
