<article class="scm">
  <header><span>SnailyCAD <span id="sc_version" class="muted"></span> <span id="sc_latest"></span></span></header>
  <div class="row center-itms center-justify">
    <div id="snailyStatus">SnailyCAD Status: <code>LOADING</code></div>
  </div>

  <div class="row center-itms space-even-justify">
    <div class="btn success" id="start_cad" data-tooltip="Shift + Click to skip build">
      <i class="mio">play_arrow</i>
      <span>Start SnailyCAD</span>
    </div>
    <div class="btn error hidden">
      <i class="mio">stop</i>
      <span>Stop SnailyCAD</span>
    </div>
    <div class="btn info">
      <i class="mio">download</i>
      <span>Update SnailyCAD</span>
    </div>
  </div>
</article>

<article class="tools">
  <header>Additional Tools</header>
  <div class="row center-itms space-even-justify">
    <div class="btn md info" onclick="modal('#app_settings').open();">
      <i class="mio">settings</i>
      <span>App Settings</span>
    </div>
  <div class="row center-itms space-even-justify">
    <div class="btn md info">
      <i class="mio">construction</i>
      <span>Open Additional Tools</span>
    </div>
</article>
