<article class="scm">
    <header>
        <span
            >SnailyCAD <span id="sc_version" class="muted"></span>
            <span id="sc_latest" class="animate-pulse"> </span
        ></span>
    </header>
    <div class="row center-itms center-justify">
        <div
            id="snailyStatus"
            class="flex flex-row justify-center items-center gap-1"
        >
            <span>SnailyCAD Status:</span>
            <code
                ><span id="status_loading">LOADING</span
                ><span id="status_client"></span>&nbsp;|&nbsp;<span
                    id="status_api"
                ></span
            ></code>
            <div class="btn sm info hidden" id="launch_cad">
                <i class="mio">launch</i>
                <span>Launch</span>
            </div>
        </div>
    </div>

    <div class="flex flex-row items-center justify-evenly">
        <div
            class="btn success hidden"
            id="start_cad"
            onclick="startCad();"
            data-tooltip="Shift + Click to skip build"
        >
            <i class="mio">play_arrow</i>
            <span>Start SnailyCAD</span>
        </div>
        <div
            class="btn warning"
            id="starting_cad"
            onclick="toast.warning('Please Wait...')"
        >
            <span aria-busy="true"></span>
            <span>Loading</span>
        </div>
        <div class="btn error hidden" id="stop_cad" onclick="stopCad();">
            <i class="mio">stop</i>
            <span>Stop SnailyCAD</span>
        </div>
        <div class="btn info hidden" id="update_cad">
            <i class="mio">download</i>
            <span>Update SnailyCAD</span>
        </div>
        <div
            class="btn warning hidden"
            id="update_loading"
            onclick="toast.warning('Update in Progress')"
        >
            <i aria-busy="true"></i>
            <span>Updating</span>
        </div>
    </div>
</article>

<article class="tools">
    <header>Additional Tools</header>
    <div class="row center-itms space-even-justify">
        <div class="btn md info" onclick="modal('#toolbox').open();">
            <i class="mio">construction</i>
            <span>CAD Toolbox</span>
        </div>
        <div class="btn md info" onclick="modal('#app_settings').open();">
            <i class="mio">settings</i>
            <span>Tools</span>
        </div>
        <div class="btn md info" onclick="modal('#about').open();">
            <i class="mio">info</i>
            <span>About & More</span>
        </div>
    </div>
</article>
