<article>
    <header>Log Output</header>
    <div class="logs"></div>
    <footer>
        <div class="btn md error" onclick="modal('#log_output').close();">
            <i class="mio">close</i>
            <span>Close Output</span>
        </div>
        <div
            class="btn md info"
            onclick="$('.logs').scrollTop($('.logs').prop('scrollHeight'));"
        >
            <i class="mio">keyboard_double_arrow_down</i>
            <span>Scroll to Bottom</span>
        </div>
        <a
            class="text-blue-500 hover:text-blue-200 text-xs"
            onclick="launchURL(fromRoot('../logs/app.log'))"
            >Open Log File</a
        >
    </footer>
</article>
