<div class="column center-itms center-justify">
    <article>
        <header>Requirements</header>
        <p>
            SnailyCAD Manager is testing for system requirements. Please wait...
        </p>

        <ul class="mx-3">
            <li>GIT: <code class="rqGit" aria-busy="true"></code></li>
            <li>NodeJS: <code class="rqNode" aria-busy="true"></code></li>
            <li>pnpm: <code class="rqPnpm" aria-busy="true"></code></li>
            <!-- <li>PostgreSQL: <code class="rqPsql" aria-busy="true"></code></li> -->
        </ul>
    </article>

    <div class="row">
        <div
            class="btn info"
            onclick="launchURL('https://manager-docs.cossys.tk/snailycad-manager/requirements')"
        >
            <i class="mio">article</i>
            <span>View Requirements Info</span>
        </div>
    </div>
</div>
