<article style="width: 90%">
    <header>
        Toolbox
        <a href="#" class="close" onclick="modal('#toolbox').close();"></a>
    </header>
    <div class="row center-justify cetner-itms">
        <div
            class="btn md info"
            data-tooltip="Changing these variables can cause issues! Continue with caution."
            onclick="modal('#env_editor').open(); loadEnvValues();"
        >
            <i class="mio">list</i>
            <span>ENV Editor</span>
        </div>
    </div>
    <div class="row center-justify center-itms">
        <div class="btn md error" onclick="api.post('/stop', '');">
            <i class="mio">dangerous</i>
            <span>Force Shutdown CAD</span>
        </div>
    </div>
    <footer>
        <div class="btn md error" onclick="modal('#toolbox').close();">
            <i class="mio">close</i>
            <span>Close Toolbox</span>
        </div>
    </footer>
</article>
