<article style="width: 90%">
    <header>
        Toolbox
        <a href="#" class="close" onclick="modal('#toolbox').close();"></a>
    </header>
    <div class="row center-justify cetner-itms">
        <div
            class="btn md info"
            data-tooltip="Changing these variables can cause issues! Continue with caution."
        >
            <span class="tag success">NEW</span>
            <span>ENV Editor</span>
        </div>
    </div>
    <footer>
        <div class="btn md error" onclick="modal('#toolbox').close();">
            <i class="mio">close</i>
            <span>Close Toolbox</span>
        </div>
    </footer>
</article>
