<div class="wizard_steps">
    <article class="home">
        <header>
            Welcome to the Setup Wizard!
            <span class="muted">It all starts here!</span>
        </header>

        <p>
            SnailyCAD Manager is built to ease the setup and use of SnailyCAD
            v4.
        </p>
        <p>
            Please follow the wizard instructions to set up your SnailyCAD
            Manager!
        </p>
        <span>Click "Next" to continue</span>

        <input type="text" hidden />

        <footer>
            <button class="btn md info wizard_next">
                <span>Next</span>
                <i class="mio">east</i>
            </button>
        </footer>
    </article>

    <article style="display: none" class="type">
        <header>Installation Type</header>

        <label for="install_type"> Select Setup Type </label>
        <select name="install_type" id="install_type">
            <option value="null" hidden diabled selected>
                Select Installation Type...
            </option>
            <option value="new">New CAD Installation</option>
            <option value="existing">Existing CAD Installation</option>
        </select>

        <footer>
            <button class="btn md info wizard_next">
                <span>Next</span>
                <i class="mio">east</i>
            </button>
            <button class="btn md info wizard_prev">
                <i class="mio">refresh</i>
                <span>Restart Wizard</span>
            </button>
        </footer>
    </article>

    <article style="display: none" class="install">
        <header>
            Select Directory <span class="muted">New Installation</span>
        </header>

        <label for="select_new_install">Installation Directory</label>
        <div class="btn md info" id="select_new_install">
            <i class="mio">folder</i>
            <span>Select Directory</span>
        </div>

        <footer>
            <button class="btn md info wizard_next">
                <span>Next</span>
                <i class="mio">east</i>
            </button>
            <button class="btn md info wizard_prev">
                <i class="mio">refresh</i>
                <span>Restart Wizard</span>
            </button>
        </footer>
    </article>

    <article style="display: none" class="existing">
        <header>Set CAD Directory</header>

        <label for="select_existing_setup">Existing CAD</label>
        <div class="btn md info" id="select_existing_setup">
            <i class="mio">folder</i>
            <span>Select Directory</span>
        </div>
        <span class="muted"
            >This directory must be a standalone installation of SnailyCAD</span
        >

        <footer>
            <button class="btn md info wizard_next">
                <span>Next</span>
                <i class="mio">east</i>
            </button>
            <button class="btn md info wizard_prev">
                <i class="mio">refresh</i>
                <span>Restart Wizard</span>
            </button>
        </footer>
    </article>

    <article style="display: none" class="confirm">
        <header>Confirm Setup</header>

        <p>
            That's it! Please confirm that the following below is correct, and
            click "Continue"
        </p>

        <span
            >Setup/Installation Directory: <code id="wizard_directory"></code
        ></span>

        <span class="muted"
            >If something was improperly selected, please restart the
            wizard.</span
        >

        <footer>
            <button class="btn md success wizard_next">
                <span>Start Setup</span>
                <i class="mio">east</i>
            </button>
            <button class="btn md info wizard_prev">
                <i class="mio">refresh</i>
                <span>Restart Wizard</span>
            </button>
        </footer>
    </article>

    <article style="display: none" class="setup">
        <header>
            Running Setup
            <span aria-busy="true"></span>
        </header>

        <span aria-busy="true" id="setup_stages">Running Setup</span>

        <p>
            SnailyCAD Manager is running the setup. Your app will restart
            automatically when the setup has been complete.
        </p>
        <span style="color: orange"
            >Do not restart or close the app while the setup is in
            progress!</span
        >

        <footer></footer>
    </article>
</div>
