@import url("https://unpkg.com/@picocss/pico@latest/css/pico.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "./titlebar";
@import "./buttons";

:root {
  --fs-border: 15px;
}

html,
body {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 300px;
}

.main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 30px);
  width: 100vw;
  background-color: var(--background-color);
  border-radius: 0 0 15px 15px;
}

.fullscreen {
  border-radius: var(--fs-border);
}
